html {
    color: white;
    font-size: 12px;
    letter-spacing: 0.7px;
    font-family: 'Renner*';
    font-weight: 200;
}

h1 {
    position: absolute;
    left: 15px;
    top: 50vh;
    font-size: 48px;
    color: #ffa3a3;
    letter-spacing: 3px;
    font-weight: 700;
}

section.first-view {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient( 135deg, rgba(4, 0, 255, 0.3), rgba(67, 67, 67, 0.3)),
  url('../images/first_view.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

section.first-view .message {
    position: absolute;
    left: 15px;
    top: 30vh;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1;
}

section.first-view .details {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.details p {
    margin: 4px 0;
}

.mobile-only {
    position: absolute;
    bottom: 20px;
    right: 15px;    
}

.tt {
    font-size: 18px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.tt p {
    width: 100%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    color: white; 
}

.open-start-list {
    font-size: 18px;
    padding: 20px;
}

.open-start-list p {
    width: 50%;
    display:inline-block;
    text-align: center;
    color: #3a3a3a;
}

.open-start-list .open-time {
    float: right;
}

.band-list {
    position: relative;
    height: 120px;
    position: relative;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    transition: all 300ms 100ms ease;
}

.band-list.open {
    height: 200px;
}

.rest-list {
    padding: 20px;
}

.rest-list p {
    width: 100%;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    color: #3a3a3a;
}

.band-detail {
    display: none;
    color: #3a3a3a;
    padding: 40px 15px 0;
    border-bottom: 1px solid #3a3a3a;
}
@keyframes open{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.band-detail.open {
    display: block;
    animation: show 1s linear 0s;
}

.band-detail h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.band-detail .member,
.band-detail .message,
.band-detail .bio {
    margin-bottom: 40px;
}

.band-detail .member p {
    margin: 3px 0;
}

.band-detail .message p,
.band-detail .bio p {
    margin: 10px 0;
    line-height: 1.4;
}

/* band images start */

#rotten {
    background: linear-gradient( 135deg, rgba(99, 0, 0, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/rot.jpg');
    background-position: center;
    background-size: cover;
}

#rotten.open {
    background: url('../images/rot.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 665 / 375);
}

#kikawa {
    background: linear-gradient( 135deg, rgba(0, 127, 83, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/kikawa.jpg');
  background-position: center;
  background-size: cover;
}

#kikawa.open {
    background: url('../images/kikawa.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 281 / 375);
}

#cr {
    background: linear-gradient( 135deg, rgba(99, 0, 0, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/cry.jpg');
  background-position: center;
  background-size: cover;
}

#cr.open {
    background: url('../images/cry.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 310 / 414);
}

#oa {
    background: linear-gradient( 135deg, rgba(0, 127, 83, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/oa.jpg');
  background-position: center;
  background-size: cover;
}

#oa.open {
    background: url('../images/oa.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 249 / 375);
}

#pol {
    background: linear-gradient( 135deg, rgba(99, 0, 0, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/porka.jpg');
  background-position: center;
  background-size: cover;
}

#pol.open {
    background: url('../images/porka.jpg');
    background-position: center;
    background-size: cover;
    height: 100vw;
}

#elle {
    background: linear-gradient( 135deg, rgba(0, 127, 83, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/elle.jpg');
  background-position: center;
  background-size: cover;
}

#elle.open {
    background: url('../images/elle.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 225 / 300);
}

#x {
    background: linear-gradient( 135deg, rgba(99, 0, 0, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/x.jpg');
  background-position: center;
  background-size: cover;
}

#x.open {
    background: url('../images/x.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 235 / 375);
}

#pr {
    background: linear-gradient( 135deg, rgba(0, 127, 83, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/pr.jpg');
  background-position: center;
  background-size: cover;
}

#pr.open {
    background: url('../images/pr.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 235 / 375);
}

#nagi {
    background: linear-gradient( 135deg, rgba(0, 127, 83, 0.6), rgba(99, 0, 0, 0.3)),
  url('../images/nagi.jpg');
  background-position: center;
  background-size: cover;
}

#nagi.open {
    background: url('../images/nagi.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vw * 281 / 375);
}

/* band images end */

.performance-time {
    float: right;
    font-size: 18px;
    margin: 5px;
}

.band-name {
    font-size: 18px;
    padding: 10px;
    min-width: 40%;
    position: absolute;
    bottom: -10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    transition: all 500ms 100ms ease;
}

.band-name.small {
    font-size: 12px;
}

.open .band-name {
    width: 100%;    
    text-align: center;
    padding: 10px 0;
}

.bg-pink .band-name {
    background-color: #ffaeae;
    margin-left: -3px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);

}

.bg-green .band-name {
    background-color: #3cffd8;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);

    right: 0;
}

.bg-pink.open .band-name {
    background-color: rgba(99, 0, 0, 0.6);
    margin: 0;
}

.bg-green.open .band-name {
    background-color: rgba(0, 127, 83, 0.6);
    right: initial;
}


.band-time, .band-detail {
    transition: all 500ms 100ms ease-in;
}

.band-time {
    width: 100%;
    height: 50px;
}

.bg-white {
    background-color: white;
}

.bg-pink {
    background-color: #ffaeae;
}

.bg-green {
    background-color: #3cffd8;
}

section.wrap-up-party {
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/bgwrap.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

section.wrap-up-party .title {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

section.wrap-up-party .title p {
    padding: 20px;
}

section.wrap-up-party .details {
    margin-left: 15px;
    margin-bottom: 40px;
}

.details p.zura {
    margin-top: 20px;
}
.map {
	position: relative;
	padding: 0 0 100%;
	height: 0;
    overflow: hidden;
    margin-top: 60px;    
}
.map iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100vw - 30px) !important;
	height: calc(100vw - 30px) !important;
}
